
body {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  color: darkgray;
  background-color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  background: rgb(0,0,0);
  background: linear-gradient(108deg, rgba(0,0,0,1) 43%, rgba(10,2,29,1) 69%, rgba(7,3,38,1) 100%);
}



.nav_sections {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-right: 10px;
  margin-left: 120px;
  }

.title1 {
  margin-left: 0px;
  display: inline;
  width: 40%;
}


.nav_bar {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-end;
  column-gap: 20px;

}

.nav_sections a {
  font-size: 20px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    text-transform: uppercase;
    transition-property: color;
    transition-duration: 0,2s;
    transition-timing-function: ease-in;
    transition-delay: 0s; }
    .nav_sections a a:hover, a:focus {
      color: #f4c277;
      background-size: 100% 2px; }
      .nav_sections a a:hover li {
        display: inline;
        text-decoration: none;
        text-transform: uppercase; }

.nav_sections .toggle {
  background-color: black;
  color: white;
  font-size: 30px;
  display: none;

}

a {
  color: inherit; }

a:hover {
  color: #5b276b;
  text-decoration: none; }

/* MAIN */
.main {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin-left: 120px;
  margin-right: 120px; }
 

.content p {
  line-height: 30px;
  color: #7b727f;
  margin-top: 20px;
  font-size: 20px; }

/* PRODUCTS SECTION */
.home_title h1 {
  text-align: left;
  margin-left: 120px;
  margin-top: 40px;
  margin-bottom: 50px; }

.grid {
  display: flex;
  flex-direction: row;
  column-gap: 300px;
  row-gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 180px;
  margin-right: 180px; }
  .grid img {
    background-color: black;
    border: 3px solid #2b262d;
    margin-bottom: 10px; }
    .grid img a {
      color: #2b262d;
      font-size: 20px;
      text-decoration: none;
      text-transform: uppercase; }
      .grid img a a:hover {
        color: #f4c277 }

.grid1 {
  grid-area: bread; }

.grid2 {
  grid-area: pastries; }

.grid3 {
  grid-area: sandwiches; }

.grid4 {
  grid-area: cookies; }

.container {
  margin-top: 100px; }

/* PAGE: ABOUT */
.story h1 {
  text-align: left;
  margin-top: 100px;
  margin-left: 350px; }

/* MIXIN */
.text_story {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 80px; }
  .text_story .story {
    margin-left: 200px;
    width: 30%;
    line-height: 30px;
    text-align: right;
    margin-right: 50px; }
    .text_story .story .p_img
img {
      width: 80%;
      margin-left: 0%;
      margin-right: 50px;
      border: 3px solid #2b262d; }

.chef {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300; }
  .chef .chef_story {
    margin-left: 150px;
    width: 30%;
    margin-top: 30px;
    line-height: 30px;
    margin-right: 70px; }
    .chef .chef_story .chef_img
img {
      width: 80%;
      margin-top: 30px;
      margin-left: 40%;
      margin-right: 10px;
      border: 3px solid #2b262d; }

/* PAGE: MENU */

.title_menu h1 {
  text-align: left;
  margin-top: 50px;
  margin-left: 150px;
  text-decoration: underline; }


.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Josefin Sans', sans-serif;
}

  .menu .menu_column1, 
  .menu .menu_column2 {
    width: 300px;
    height: 450px;
    margin: 80px;
    margin-top: 40px;
    font-size: 20px;
  
  }

.sub_title {
  text-decoration: underline;
  margin-bottom: 20px;
}

.sub_title1 {
  margin-top: 30px;
  margin-bottom: 20px;
  text-decoration: underline;
}



.video {
  margin-top: 150px;
  margin-left: 210;

}



/* PAGE: ORDER */

.title_order h1 {
  text-align: left;
  margin-top: 50px;
  margin-left: 200px;
  text-decoration: underline; }

  .deli h2,
  .da h2 {
  margin-top: 20px;
}


.text1 {
  margin-left: 200px;
  margin-right: 150px;
  margin-bottom: 30px;
  font-size: 20px;
}

.orderflex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: flex-start;
}

.orderflex1,
.orderflex2 {
  width: 350px;
  height: 200px;
  margin-left: 220px;
  row-gap: 30px;
  font-size: 20px;
}

.deli h3 {
  margin-top: 20px;
}



/* PAGE: LOCATION */
.title_location h1 {
  text-align: left;
  margin-left: 200px;
  margin-top: 50px; }

.text_location {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
   font-size: 20px;
 }
  .text_location .location {
    justify-content: flex-start;
    margin-left: 200px;
    margin-right: 200px;
    }
    .text_location .location p {
      line-height: 30px;
    }
      .text_location .location .store_info {
        margin-top: 30px;
      }
      .text_location .location h3 .map {
        width: 100%;
        margin-top: 50px;
        margin-left: 200px; }
        .text_location .location h3 .map li {
          margin-bottom: 20px; }
          .text_location .location h3 .map li p {
            line-height: 20px; }

.form {
  text-align: center; }


/* PAGE: CONTACT */

.title_contact h1 {
  margin-left: 200px;
  margin-right: 120px;
  margin-top: 60px;
  text-decoration: none; }

.text_contact {
  margin-left: 200px;
  margin-right: 120px;
  margin-top: 10px;
  font-size: 25px; }

.form {
  margin-top: 50px; }

form
p {
  padding: 5px 0; }
  form
p textarea {
    height: 150px; }
    form
p textarea input,
    form
p textarea textarea {
      width: 40%;
      margin-bottom: 20px; }

.form .send {
  width: 20%;
  display: inline-block;
  text-align: center;
}

/* SECTION:  BREADS */
.back
a {
  display: inline-block;
  margin-left: 120px;
  margin-top: 100px;
  color: #2b262d;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase; }
  .back
a a:hover {
    color: #f4c277; }

.bread_description {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 50px;
  line-height: 30px; }

.grid_breads {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-column-gap: 10px;
  grid-row-gap: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 260px;
  margin-right: 180px;
  grid-template-areas: "b1 b2"
 "b3 b4"
 "b5 b6"
 "b7 b8"; }
  .grid_breads img {
    background-color: black;
    border: 3px solid #2b262d; }

.b1 {
  grid-area: b1; }

.b2 {
  grid-area: b2; }

.b3 {
  grid-area: b3; }

.b4 {
  grid-area: b4; }

.b5 {
  grid-area: b5; }

.b6 {
  grid-area: b6; }

.b7 {
  grid-area: b7; }

.b8 {
  grid-area: b8; }

/* SECTION:  PASTRIES */
.pastry_description {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 50px;
  line-height: 30px;
  font-size: 20px; }

.grid_pastries {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-column-gap: 10px;
  grid-row-gap: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 260px;
  margin-right: 180px;
  grid-template-areas: "p1 p2"
 "p3 p4"
 "p5 p6"
 "p7 p8"; }
  .grid_pastries img {
    background-color: black;
    border: 3px solid #2b262d; }

.p1 {
  grid-area: p1; }

.p2 {
  grid-area: p2; }

.p3 {
  grid-area: p3; }

.p4 {
  grid-area: p4; }

.p5 {
  grid-area: p5; }

.p6 {
  grid-area: p6; }

.p7 {
  grid-area: p7; }

.p8 {
  grid-area: p8; }

/* SECTION: SANDWICHES */
.sandwich_description {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 50px;
  line-height: 30px;
  font-size: 20px; }

.grid_sandwiches {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-column-gap: 10px;
  grid-row-gap: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 260px;
  margin-right: 180px;
  grid-template-areas: "s1 s2"
 "s3 s4"
 "s5 s6"
 "s7 s8"; }
  .grid_sandwiches img {
    background-color: black;
    border: 3px solid #2b262d; }

.s1 {
  grid-area: s1; }

.s2 {
  grid-area: s2; }

.s3 {
  grid-area: s3; }

.s4 {
  grid-area: s4; }

.s5 {
  grid-area: s5; }

.s6 {
  grid-area: s6; }

.s7 {
  grid-area: s7; }

.s8 {
  grid-area: s8; }

/* SECTION: COOKIES */
.cookie_description {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 50px;
  line-height: 30px; 
  font-size: 20px;}

.grid_cookies {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-column-gap: 10px;
  grid-row-gap: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 260px;
  margin-right: 180px;
  grid-template-areas: "c1 c2"
 "c3 c4"
 "c5 c6"
 "c7 c8"; }
  .grid_cookies img {
    background-color: black;
    border: 3px solid #2b262d; }

.c1 {
  grid-area: c1; }

.c2 {
  grid-area: c2; }

.c3 {
  grid-area: c3; }

.c4 {
  grid-area: c4; }

.c5 {
  grid-area: c5; }

.c6 {
  grid-area: c6; }

.c7 {
  grid-area: c7; }

.c8 {
  grid-area: c8; }}

/* MEDIA QUERIES */
/* MOBILE */
@media only screen and (min-width: 480px) and (max-width: 989px) {

.nav_sections {
  margin-left: 20px;
  justify-content: center;
}
.main {
  margin-left: 20px;
  justify-content: center;
}

  .story h1 {
  margin-top: 70px;
  margin-left: 180px; }
  .text_story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 80px; }
    .text_story .story {
      margin-left: 20px;
      width: 90%;
      line-height: 30px;
      text-align: center;
      margin-right: 10px; }
      .text_story .story .p_img img {
        width: 90%;
        margin-left: 3%;
         }
  .chef {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-left: 20px;
    }
    .chef .chef_story {
      margin-left: 30px;
      margin-top: 20px;
      width: 90%;
      text-align: center;
      line-height: 30px;
      margin-right: 10px; }
      .chef .chef_story .chef_img img {
        width: 90%;
        margin-top: 0px;
        margin-left: 6%;
        margin-right: 10px;
        }
  .title_menu h1 {
  margin-left: 170px;
  margin-bottom: 20px; }
  .menu {
    display: inline-block;
    width: 80%;
    text-align: center; }
  .sub_title h2,
  .sub_title1 h2 {
    margin-left: 10px; }
  .menu_column2 .sub_title h2 {
    margin-top: 120px; }
  .menu_column1,
  .menu_column2 {
    width: 80%;
    margin-top: 5px;
    margin-left: 80px; }
  .video  {
    margin-left:25px;
    margin-top: 30px;
    width: 90%;
    overflow:hidden;
    padding-bottom:200px; 
    position:relative;
    height:0; }
    .video .video iframe {
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute; }
  .title_order h1 {
    margin-left: 40px;}
  .text_ap .text1 {
    margin-left: 40px;
    margin-right: 20px;}
  .orderflex {
    display: block;}
    .orderflex h2 {
      margin-left: 0px;}
    .orderflex .orderflex1 {
      margin-left: 40px;
      width: 85%;}
      .orderflex .orderflex1 .deli h2 {
        margin-left: 0px;
        margin-top: 15px;}
    .orderflex .orderflex2 {
      margin-left: 40px;
      width: 85%;}
      .orderflex .orderflex2 .da h2 {
        margin-top: 15px;}
  .container_2 .mb-4 {
    margin-left: 0px;}
  .text_location {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 10px;
    width: 90%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300; }
    .text_location .location {
      margin-left: 30px;
      margin-right: 10px; }
    .text_location .map {
      margin-left: 50px;
      margin-top: 10px; }  
  .title_contact h1 {
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 20px; }
  .text_contact h2 {
    margin-left: 50px,;
    margin-right: 20px; }
  .form .send {
    width: 40%; }  
  .back a {
    display: inline-block;
    margin-left: 30px;
    margin-top: 40px;
    color: #2b262d; }
  .bread_description {
    margin-left: 30px;
    margin-right: 30px; }
  .grid_breads {  
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 100px; }
  .b8 {
    margin-bottom: 40px; } 
  .pastry_description {
    margin-left: 30px;
    margin-right: 30px; }
  .grid_pastries {  
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 100px; }
  .p8 {
    margin-bottom: 40px; }
  .cookie_description  {
    margin-left: 30px;
    margin-right: 30px; }
  .grid_cookies {  
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 100px; }
  .c8 {
    margin-bottom: 40px; }  
  .sandwich_description  {
    margin-left: 30px;
    margin-right: 30px; }
  .grid_sandwiches {  
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 100px; }
  .s8 {
    margin-bottom: 40px; }

}   

/* TABLET */
@media only screen and (min-width: 990px) and (max-width: 1199px) {

.nav_sections {
  margin-left: 100px;
}
.main {
  margin-left: 100px;
}
.nav_bar  ul {
  justify-content: flex-end;
  margin-right: 5px;

 } 

 .title1 img {
  height: 80px;
 }

 .nav_bar {
  width: 100%;
 }

  .grid {
  column-gap: 50px;
 }

  .story h1 {
  margin-top: 30px;
}

 .text_story .story {
  width: 50%;
  margin-left: 100px;
 }


 .chef .chef_img img {
  width: 100%;
  height: 600px;
  margin-left: 30%;
}

.chef .chef_story {
  width: 50%;
  margin-right:80px;
  margin-top: 20px;
}

.story h1 {
  text-align: inherit;
}

.title_menu h1 {
  margin-left: 0px;
  text-align: center;
}

.menu_column1,
.menu_column2 {
   text-align: center;
}

.video {
  margin-left: 180;
}

.title_order h1 {
  margin-top: 50px;
  margin-left: 130px; 
}

.text1 {
  margin-left: 130px;
  margin-right: 60px;
}

.orderflex1 {
  margin-left: 160px;
}

.orderflex2 {
  margin-left: 20px;
}

.title_location h1 {
  margin-left: 130px;
}

.text_location .location {
  margin-left: 130px;
}

.location p {
  line-height: 40px;
}

.text_location .map {
  margin-left: 130px;
}

.title_contact h1,
.text_contact  {
  margin-left: 120px;
}

.grid_breads {  
  margin-left: 170px;
  margin-top: 50px;
}

.grid_pastries {  
  margin-left: 170px;
  margin-top: 50px;
}

.grid_sandwiches {  
  margin-left: 170px;
  margin-top: 50px;
}

.grid_cookies {  
  margin-left: 170px;
  margin-top: 50px;
}

}

  

/* DESKTOP */

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
.text_story .story {
  margin-left: 100px;
  width: 40%;
  line-height: 40px;
}

.chef .chef_img img {
  width: 85%;
  margin-left:20%;
}

.chef .chef_story {
  margin-left: 90px;
  width: 40%;
  line-height: 40px;
}
}