$color_hover: #c19770;
$border_image: 3px solid #2b262d;


.nav_sections {
	width: 80%;
	height: 90%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-right: 10%;
	margin-left: 10%
	}
	.nav_sections .nav_bar ul {
		display: block;
		margin-right: 0px;
		margin-bottom: 0%;
		}
		.nav_sections .nav_bar ul a {
			color: #7b727f;
		}
	.nav_sections a {
		font-size: 20px;
		padding-left: 5px
		text-decoration: none;
		text-transform: uppercase;
		}

.title1 {
	margin-left: 0%;
}
	.title1 img {
		display: inline;
		width: 55%;
		height: 90%;
		margin-left: 3%;
	}

.nav_bar {
	width: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-end;
	justify-content: flex-end;
	column-gap: 30px;
	margin-right: 2%;
}
	


/* TRANSITION */

.nav_sections a {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transition-delay: 0s;  
}
	.nav_sections a:hover, a:focus {
	  color: $color_hover;
	  font-family: 'Cinzel', serif;
	  background-size: 100% 2px;
	}


/* MAIN */

.main {
	display: flex;
	width: 80%;
	flex-direction: column;
	margin-left: 10%;
	margin-right: 10%;
}
	.main .img img {
		margin-top: 10px;
		 width: 100%;
	}

.content p {
	width: 100%;
	line-height: 30px;
	color: #7b727f;
	margin-top: 20px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
}


/* PRODUCTS SECTION */

/* ANIMATION */

.contendor {
	margin: auto;
	display: table;
}
	.contenedor h1 {
		margin-left: 9%;
		margin-top: 40px;
		margin-bottom: 50px;
		float: left;
		color: #c19770;
		font-family: 'Cinzel', serif;
		font-size: 30px;
		position: relative;
	}

h1 {
	margin-left: 9%;
}
	h1 span {
		position: absolute;
		right: 0;
		width: 0;
		background-color: black;
		border-left: 2px solid $color_hover;

		animation: typewriter 5s infinite alternate steps(20);
	}

@keyframes typewriter {
	from {
		width: 100%;
	}
	to {
		width: 0;
	}
}



.products_flex {
  display: flex;
  width: 70%;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20%;
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
}
	.products_flex img {
		background-color: black;
		border: $border_image;
		margin-bottom: 10px;
	}
	.products_flex a {
		color: #2b262d;
		font-size: 20px;
		text-decoration: none;
		text-transform: uppercase;
	}
		.products_flex a:hover {
			color: $color_hover;
			font-family: 'Cinzel', serif;
		}


/* FOOTER */

.container_apps {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
}

.bg {
  width: 100%;
}

.container_apps2 {
  margin-left: 0%;
}

.icons {
  display: flex;
  width: 32%;
  margin-left: 33%;
  margin-top: 10%;
   margin-bottom: 5%;
  justify-content: space-evenly;
}


/* PAGE: ABOUT */

 .story h1 {
	text-align: left;
	margin-top: 100px;
	padding-left: 25%;	
}

.text_story {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	width: 80%;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
	margin-top: 50px;
	margin-bottom: 80px;
	margin-left: 10%;
} 
	.text_story .story {
		width: 50%;
		line-height: 40px;
		text-align: right;
	}
	.text_story .p_img img {
		width: 95%;
		margin-left: 5%;
		border: $border_image;
	}

.chef {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	width: 80%;
	margin-left: 10%;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
}
	.chef .chef_story {
		width: 50%;
		margin-top: 30px;
		line-height: 40px;
		font-size: 20px;
	}
	.chef .chef_img img {
		width: 95%;
		margin-top: 30px;
		margin-right: 5%;
		border: $border_image;
	}



/* PAGE: MENU */

.title_menu h1 {
	text-align: left;
	margin-top: 50px;
	margin-left: 12%;
	text-decoration: none;	
}

.menu {
	display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Josefin Sans', sans-serif;
}

.menu_column1,
.menu_column2 {
	width: 30%;
   height: 450px;
   text-align: center;
   margin: 80px;
   margin-top: 40px;
   font-size: 20px;
}

.sub_title {
  text-decoration: underline;
  margin-bottom: 20px;
}

.sub_title1 {
	margin-top: 30px;
	margin-bottom: 20px;
	text-decoration: underline;
}

.video {
	width: 70%;
	margin-top: 150px;
	margin-left: 15%;
	margin-right: 15%;
}


/* PAGE: ORDER */

.title_order h1 {
	margin-top: 50px;
	margin-left: 12%;
	text-decoration: none;	
}

.deli h2,
.da h2 {
	margin-top: 20px;
}

.text1 {
	margin-left: 12%;
	margin-right: 150px;
	margin-bottom: 30px;
	font-size: 20px;
}

.orderflex {
  display: flex;
  width: 80%;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 10%;
}

.orderflex1 {
  width: 97%;
  font-size: 20px;
  margin-left:3%
}

.orderflex2 {
  width: 97%;
  margin-right: 3%;
}

.deli h3 {
	margin-top: 20px;
}


/* PAGE: LOCATION */

.title_location h1 {
	text-align: left;
	margin-left: 10%;
	margin-top: 50px;
}

.text_location {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 80%;
	margin-left: 10%;
	font-size: 20px;
	line-height: 30px;
}
	.text_location .location {
	  width: 100%;
	  justify-content: flex-start;
	}
	.text_location .map {
	  width: 80%;
	  margin-top: 50px;
	  margin-left: 10%;
	}
	.text_location li{
		margin-bottom: 10px;
		}

.store_info h3 {
	margin-top: 30px;
}



/* PAGE: CONTACT */

.title_contact h1 {
	margin-left: 10%;
	margin-top: 60px;
	text-decoration: none;
}

.text_contact {
	margin-left: 10%;
	margin-right: 12%;
	margin-top: 10px;
	font-size: 25px;
}

.form {
  text-align: center;
  margin-top: 50px;
}

form input,
textarea {
	width: 40%;
	margin-bottom: 20px;
}

form textarea {
	height: 150px
}

.form .send {
	width: 20%;
	display: inline-block;
	text-align: center;
}


/* SECTION:  BREADS */

.back a {
	display: inline-block;
	margin-left: 5%;
	margin-top: 5%;
	color: #2b262d;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
}
	.back a:hover {
		color: $color_hover;
		font-family: 'Cinzel', serif;
	}

.bread_description {
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;
	line-height: 30px;
	font-size: 20px;
}

.grid_breads {  
	width: 80%;
	margin-left: 10%;
	display: grid;
  grid-template-columns: 1fr 1fr;
 	grid-template-rows: 1fr 1fr 1fr 1fr;
 	grid-row-gap: 50px;
 	margin-top: 5%;
	margin-bottom: 10%;
	justify-items: center;
  grid-template-areas:
    "b1 b2"
    "b3 b4"
    "b5 b6"
    "b7 b8";
}
	.grid_breads img {
		background-color: black;
		border: $border_image;
		margin-left: 5%;
	}

.b1 { 
  grid-area: b1;
  margin-right: 0%;
  margin-left: 0%;
}

.b2 { 
	grid-area: b2; 
}

.b3 { 
	grid-area: b3;
}

.b4 { 
	grid-area: b4;
}

.b5 {
	 grid-area: b5;
 }

.b6 { 
	grid-area: b6; 
}

.b7 { 
	grid-area: b7;
 }

.b8 { 
	grid-area: b8; 
}


/* SECTION:  PASTRIES */

.pastry_description {
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;
	line-height: 30px;
	font-size: 20px;
}

.grid_pastries {  
	width: 80%;
	margin-left: 10%;
	display: grid;
  grid-template-columns: 1fr 1fr;
 	grid-template-rows: 1fr 1fr 1fr 1fr;
 	grid-row-gap: 50px;
 	margin-top: 5%;
	margin-bottom: 10%;
  grid-template-areas:
    "p1 p2"
    "p3 p4"
    "p5 p6"
    "p7 p8";
}
	.grid_pastries img {
	  background-color: black;
	  border: $border_image;
	  margin-left: 25%
	}

.p1 { 
	grid-area: p1;
}

.p2 { 
	grid-area: p2; 
}

.p3 { 
	grid-area: p3;
}

.p4 { 
	grid-area: p4;
}

.p5 {
	 grid-area: p5;
 }

.p6 { 
	grid-area: p6; 
}

.p7 { 
	grid-area: p7;
 }

.p8 { 
	grid-area: p8; 
}


/* SECTION: SANDWICHES */

.sandwich_description {
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;
	line-height: 30px;
	font-size: 20px;
}

.grid_sandwiches {  
	width: 80%;
	margin-left: 10%;
	display: grid;
  grid-template-columns: 1fr 1fr;
 	grid-template-rows: 1fr 1fr 1fr 1fr;
 	grid-row-gap: 50px;
 	margin-top: 5%;
	margin-bottom: 10%;
  grid-template-areas:
    "s1 s2"
    "s3 s4"
    "s5 s6"
    "s7 s8";
}
	.grid_sandwiches img {
	  background-color: black;
	  border: $border_image;
	  margin-left: 25%
	}

.s1 { 
	grid-area: s1;
}

.s2 { 
	grid-area: s2; 
}

.s3 { 
	grid-area: s3;
}

.s4 { 
	grid-area: s4;
}

.s5 {
	 grid-area: s5;
 }

.s6 { 
	grid-area: s6; 
}

.s7 { 
	grid-area: s7;
 }

.s8 { 
	grid-area: s8; 
}


/* SECTION: COOKIES */

.cookie_description {
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;
	line-height: 30px;
	font-size: 20px;
}

.grid_cookies {  
	width: 80%;
	margin-left: 10%;
	display: grid;
  grid-template-columns: 1fr 1fr;
 	grid-template-rows: 1fr 1fr 1fr 1fr;
 	grid-row-gap: 50px;
 	margin-top: 5%;
	margin-bottom: 10%;
  grid-template-areas:
    "c1 c2"
    "c3 c4"
    "c5 c6"
    "c7 c8";
}
	.grid_cookies img {
	  background-color: black;
	  border: $border_image;
	  margin-left: 25%
	}

.c1 { 
	grid-area: c1;
}

.c2 { 
	grid-area: c2; 
}

.c3 { 
	grid-area: c3;
}

.c4 { 
	grid-area: c4;
}

.c5 {
	 grid-area: c5;
 }

.c6 { 
	grid-area: c6; 
}

.c7 { 
	grid-area: c7;
 }

.c8 { 
	grid-area: c8; 
}


/* MEDIA QUERIES */

/* MOBILE */

@media only screen and (min-width: 320px) and (max-width: 480px) {
 
 /* HOME */

.nav_sections {
	width: 80%;
	height: 50%;
	margin-left: 3%;
}
	.nav_sections a {
		font-size: 15px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
	}
	.nav_sections .title1 img {
	  width: 80%;
	  height: 100%;
	  align-items: flex-end;
	}

 .title1 {
 	width: 30%;
 }

 
.nav_bar {
  width: 100%;
  margin-right: 0%;
  justify-content: space-evenly;
}
	.nav_bar ul {
	  width: 100%;
	  margin-left: 0%;
	  margin-bottom: 0%;
	}

.main {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.content p {
	width: 100%;
	line-height: 30px;
	font-size: 17px;
	margin-right: 20%;
	text-align: center;
}

.products_flex {
	width: 60%;
	flex-direction: column;
	align-content: space-evenly;
	margin-right: 20%;
	margin-left: 20%;
}

.p_f1,
.p_f2,
.p_f3,
.p_f4 {
  margin-left: 0%;
}

.container_apps {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
}

.bg {
	width: 100%;
}

.container_apps2 {
  margin-left: 0%;
}

.icons {
	display: flex;
	width: 80%;
	margin-left: 10%;
	justify-content: space-evenly;
}

/* ABOUT */

.story h1{
	margin-top: 7%;
	margin-left: 10%;
}

.text_story {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	margin-left: 5%;
	margin-top: 30px;
	margin-bottom: 80px;
} 
	.text_story .story {
		width: 100%;
		text-align: center;
	}
	.text_story .p_img img {
		width: 100%;
		margin-left: 0%;
	}

.chef {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	margin-left: 5%;
}
	.chef .chef_story {
		width: 100%;
		text-align: center;
	}
	.chef .chef_img img {
		width: 100%;
	}



/* MENU */

.title_menu h1 {
	margin-left: 35%;
	margin-bottom: 20px;
}

.menu {
	width: 80%;
	flex-direction: column;
	margin-left: 10%;
	margin-right: 10%;
  justify-content: center;

}

.menu_column1 {
  margin-top: 0%;
}

.menu_column1 {
  width: 100%;
  margin-top: 0%;
  margin-left: 0%;
  text-align: center;
   font-size: 20px;
}

.menu_column2 {
	width: 100%;
  margin-top: 15%;
  margin-left: 0%;
  text-align: center;
   font-size: 20px;
}

.sub_title2 h2 {
	margin-top: 0%;
	text-decoration: underline;
}

.sub_title3 h2 {
	margin-left: 0%;
	margin-top: 25%;
	text-decoration: underline;
}

.video  {
	margin-left:5%;
	margin-top: 70%;
	width: 90%;
	height: 200;
}

/* ORDER */

.container_apps {
	margin-top: 80%;
}

.container_2 .mb-4 {
	margin-left: 30%;
}

.title_order h1 {
	margin-left: 10%;
}

.text_ap .text1 {
	margin-left: 10%;
	margin-right: 5%;
}

.orderflex {
	display: block;
  width: 90%;
  margin-left: 5%;
}

.orderflex1 {
	width: 100%;
}
	.orderflex1 h2 {
		margin-top: 30px;
		margin-left: 2%;
	}
	.orderflex1 .text2,
	.orderflex1 .text3  {
		margin-left: 2%;
	}
	.orderflex1 .deli h2 {
		margin-left: 2%;
		margin-top: 30px;
	}

.orderflex2 {
	width: 100%;
}
	.orderflex2 .text4 {
		margin-left: 5%;
	}
	.orderflex2 h2 {
		margin-top: 15px;
		margin-left: 5%;
	}
	.orderflex2 .da h2 {
		margin-top: 15px;
		margin-left: 5%;
	}

.container_2 {
	margin-left: 5%;
	margin-top: 20px;
}

.container_apps {
  margin-top: 20%;
}

/* LOCATION */

.title_location h1 {
	margin-left: 10%;
	margin-top: 30px;
}

.text_location {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
}
	.text_location .map {
		width: 100%;
		margin-left: 0%;
		margin-top: 3%;
	}

/* CONTACT */

.title_contact h1 {
	margin-left: 10%;
	margin-top: 5%;
}

.text_contact {
	margin-left: 10%;
	margin-right: 10%;
	font-size: 20px;
}

.form .send {
	width: 40%;
}

/* SECTION: BREADS */


.bread_description {
	width: 80%;
	margin-left: 10%;
	margin-top: 3%;
}

.grid_breads {  
	width: 80%;
	display: flex;
	flex-direction: column;
	margin-left: 10%;
	margin-top: 5%;
}
	.grid_breads img {
	  margin-left: 0%;
	}

/* SECTION: PASTRIES */

.pastry_description {
	width: 80%;
	margin-left: 10%;
	margin-top: 3%;
}

.grid_pastries {  
	width: 80%;
	display: flex;
	flex-direction: column;
	margin-left: 10%;
	margin-top: 5%;
}
	.grid_pastries img {
	  margin-left: 0%;
	}

/* SECTION: COOKIES */

.cookie_description  {
	width: 80%;
	margin-left: 10%;
	margin-top: 3%;
}

.grid_cookies {  
	width: 80%;
	display: flex;
	flex-direction: column;
	margin-left: 10%;
	margin-top: 5%;
}
	.grid_cookies img {
	  margin-left: 0%;
	}

/* SECTION: SANDWICHES */

.sandwich_description  {
	width: 80%;
	margin-left: 10%;
	margin-top: 3%;
}

.grid_sandwiches {  
	width: 80%;
	display: flex;
	flex-direction: column;
	margin-left: 10%;
	margin-top: 5%;
}
	.grid_sandwiches img {
	  margin-left: 0%;
	}

}


/* TABLET */

@media only screen and (min-width: 481px) and (max-width: 990px) {

/* HOME */

.nav_sections {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 4%;
  }
	.nav_sections .title1 img {
		width: 100%;
		height: 100%;
	}

.title1 {
	margin-left: 0%;
	width: 0%;
}

.nav_bar {
  width: 100%;
}

.main {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
	.main .img img {
		 width: 100%;
	}

.content {
	width: 100%;
}

.home_title {
  width: 80%;
  margin-left: 10%;
}
	.home_title h1 {
		margin-left: 0%;
	}

.products_flex {
  width: 60%;
  flex-direction: column;
  margin-right: 20%;
  margin-left: 20%;
  align-items: center;
}

.p_f1,
.p_f3 {
  margin-left: 0%;
}

/* ABOUT */

 .story h1 {
	margin-top: 7%;
	margin-left: 10%;
}

.text_story {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	margin-left: 5%;
	margin-top: 2%;
	margin-bottom: 80px;
} 
	.text_story .story {
		width: 100%;
		text-align: center;

	}
	.text_story .p_img img {
		width: 100%;
		margin-left: 0%;
	}

.chef {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	margin-left: 5%;
}
	.chef .chef_story {
		width: 100%;
		text-align: center;
	}
	.chef .chef_img img {
		width: 100%;
	}


/* MENU */

.title_menu h1 {
  display: inline-block;
  margin-left: 33%;
  margin-top: 7%;
}

.menu {
	width: 90%;
	margin-left: 5%;
}

.menu_column1,
.menu_column2 {
  width: 100%;
  margin: 0;
   text-align: center;
   margin-top: 40px;
   font-size: 15px;
}

.video {
	width: 90%;
	margin-top: 15%;
	margin-left: 5%;
}


/* ORDER */

.title_order h1,
.text1 {
	margin-right: 10%;
}
.orderflex {
  display: flex;
  width: 80%;
  flex-direction: row;
  margin-left: 10%;
  align-items: flex-start;
}

.orderflex1 {
  width: 97%;
  font-size: 20px;
  margin-left:0%
}

.orderflex2 {
  width: 97%;
  margin-left: 3%;
}


/* LOCATION */

.title_location h1 {
	margin-left: 10%x;
}

.text_location .location {
  width: 100%;
}

.text_location .map {
  width: 100%;
  margin-left: 0%;
  margin-top: 3%;
}

.location p {
  width: 100%;
  margin-left: 0%;
}



/* CONTACT */

.title_contact h1 {
	margin-left: 10%;
}

.text_contact  {
	margin-left: 10%;
	font-size: 20px;
}

.form .send {
	width: 30%;
}


/* SECTION: BREADS */

.back a {
	margin-left: 0%;
}

.bread_description {
	width: 90%;
	margin-left: 5%;
	margin-top: 3%;
}

.grid_breads {  
	width: 90%;
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	margin-top: 5%;
	align-items: center;
}
	.grid_breads img {
	  margin-left: 0%;
	}

/* SECTION: PASTRIES */

.pastry_description {
	width: 90%;
	margin-left: 5%;
	margin-top: 3%;
}

.grid_pastries {  
	width: 90%;
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	margin-top: 5%;
	align-items: center;
}
	.grid_pastries img {
	  margin-left: 0%;
	}

/* SECTION: COOKIES */

.cookie_description  {
	width: 90%;
	margin-left: 5%;
	margin-top: 3%;
}

.grid_cookies {  
	width: 90%;
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	margin-top: 5%;
	align-items: center;
}
	.grid_cookies img {
	  margin-left: 0%;
	}

/* SECTION: SANDWICHES */

.sandwich_description  {
	width: 90%;
	margin-left: 5%;
	margin-top: 3%;
}

.grid_sandwiches {  
width: 90%;
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	margin-top: 5%;
	align-items: center;
}
	.grid_sandwiches img {
	  margin-left: 0%;
	}

}





