
body {
	padding: 0;
	margin: 0 ;
	box-sizing: border-box;
	max-width: 100%;
	color: darkgray;
	background-color: black;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	background: rgb(0,0,0);
	background: linear-gradient(108deg, rgba(0,0,0,1) 43%, rgba(10,2,29,1) 69%, rgba(7,3,38,1) 100%);
}

.nav_sections {
	width: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-right: 10%;
	margin-left: 10%;
	}

.title1 img {
	display: inline;
	width: 55%;
	height: 120%;
	margin-left: 3%;
}


.nav_bar {
	width: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-end;
	justify-content: flex-end;
	column-gap: 30px;
	margin-right: 3%;

}

.nav_sections .nav_bar ul {
	display: block;
  margin-right: 0px;
}

.nav_sections a {
	color: white;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;

}





/* TRANSITION */

.nav_sections a {
	
  background-image: linear-gradient(currentColor, currentColor);
 	background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  transition-property: color;
  transition-duration: 0,2s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
  
}

.nav_sections a:hover, a:focus {
  color: #f4c277;
  background-size: 100% 2px;
}


/* MAIN */

.main {
	display: flex;
	width: 80%;
	flex-direction: column;
	margin-left: 10%;
	margin-right: 10%;
}

.main .img img {
	margin-top: 10px;
	 width: 100%;
}

.content {
	width: 100%;
	line-height: 30px;
	color: #7b727f;
	margin-top: 20px;
	font-size: 20px;
}



/* PRODUCTS SECTION */


.home_title h1 {
	text-align: left;
	margin-left: 10%;
	margin-top: 40px;
	margin-bottom: 50px;
}

.container {
  display: flex;
  width: 60%;
  flex-direction: row;
  column-gap: 10%;
  row-gap: 30px;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: space-evenly;
}



.container img {
	background-color: black;
	border: 3px solid #2b262d;
	margin-bottom: 10px;
}



.container a {
	color: #2b262d;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
	
}

.container a:hover {
	color: #f4c277;
}

/* FOOTER */

.container_apps {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

.bg {
  width: 100%;
}

.container_apps2 {
  margin-left: 0%;
}

.icons {
  display: flex;
  width: 32%;
  margin-left: 33%;
  margin-top: 10%;
   margin-bottom: 5%;
  justify-content: space-evenly;
}


/* PAGE: ABOUT */

 .story h1 {
	text-align: left;
	margin-top: 100px;
	padding-left: 25%;	
}



.text_story {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	width: 80%;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
	margin-top: 50px;
	margin-bottom: 80px;
	margin-left: 10%;
} 

.text_story .story {
	width: 50%;
	line-height: 40px;
	text-align: right;
}

.text_story .p_img img {
	width: 95%;
	margin-left: 5%;
	border: 3px solid #2b262d;
}

.chef {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	width: 80%;
	margin-left: 10%;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
}

.chef .chef_img img {
	width: 95%;
	margin-top: 30px;
	margin-right: 5%;
	border: 3px solid #2b262d;
}

.chef .chef_story {
	width: 50%;
	margin-top: 30px;
	line-height: 40px;
	font-size: 20px;
}


/* PAGE: MENU */

.title_menu h1 {
	text-align: left;
	margin-top: 50px;
	margin-left: 12%;
	text-decoration: none;	
}

.menu {
	display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Josefin Sans', sans-serif;
}

.menu_column1,
.menu_column2 {
	width: 30%;
   height: 450px;
   text-align: center;
   margin: 80px;
   margin-top: 40px;
   font-size: 20px;
}

.sub_title {
  text-decoration: underline;
  margin-bottom: 20px;
}

.sub_title1 {
	margin-top: 30px;
	margin-bottom: 20px;
	text-decoration: underline;
}


.video {
	width: 70%;
	margin-top: 150px;
	margin-left: 15%;
	margin-right: 15%;

}



/* PAGE: ORDER */

.title_order h1 {
	margin-top: 50px;
	margin-left: 12%;
	text-decoration: none;	
}

.deli h2,
.da h2 {
	margin-top: 20px;
}

.text1 {
	margin-left: 12%;
	margin-right: 150px;
	margin-bottom: 30px;
	font-size: 20px;
}

.orderflex {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-direction: row;
}

.orderflex1,
.orderflex2 {
  width: 35%;
  height: 200px;
  margin: 30px;
  row-gap: 30px;
  font-size: 20px;
}

.orderflex1 {
	margin-left: 15%;
}

.deli h3 {
	margin-top: 20px;
}

/* PAGE: LOCATION */

.title_location h1 {
	text-align: left;
	margin-left: 12%;
	margin-top: 50px;
}

.text_location {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	font-size: 20px;
}

.text_location .location{
	justify-content: flex-start;
	margin-left: 12%;
	margin-right: 200px;
}

.store_info h3 {
	margin-top: 30px;
}

.text_location .map {
	width: 80%;
	margin-top: 50px;
	margin-left: 15%;
}

.text_location li{
	margin-bottom: 20px;
}

.location p {
	line-height: 30px;
}



/* PAGE: CONTACT */

.title_contact h1 {
	margin-left: 12%;
	margin-top: 60px;
	text-decoration: none;
}

.form {
	text-align: center;
}

.text_contact {
	margin-left: 12%;
	margin-right: 12%;
	margin-top: 10px;
	font-size: 25px;
}

.form {
	margin-top: 50px;
}

/*form p {
	padding: 5px 0;
}*/

form input,
textarea {
	width: 40%;
	margin-bottom: 20px;
}

form textarea {
	height: 150px
}

.form .send {
	width: 20%;
	display: inline-block;
	text-align: center;
}


/* SECTION:  BREADS */


.back a {
	display: inline-block;
	margin-left: 120px;
	margin-top: 100px;
	color: #2b262d;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
}

.back a:hover {
	color: #f4c277;
}


.bread_description {
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 50px;
	line-height: 30px;
	font-size: 20px;
}

.grid_breads {  
	width: 80%;
	margin: auto;
	display: grid;
  grid-template-columns: 1fr 1fr;
 	grid-template-rows: 1fr 1fr 1fr 1fr;
 	grid-auto-flow: row;
 	grid-column-gap: 10px;
 	grid-row-gap: 50px;
 	margin-top: 100px;
	margin-bottom: 100px;
  margin-left: 260px;
  margin-right: 180px;
  	grid-template-areas:
    "b1 b2"
    "b3 b4"
    "b5 b6"
    "b7 b8";
}



.grid_breads img {
	background-color: black;
	border: 3px solid #2b262d;
}

.b1 { 
	grid-area: b1;
}

.b2 { 
	grid-area: b2; 
}

.b3 { 
	grid-area: b3;
}

.b4 { 
	grid-area: b4;
}

.b5 {
	 grid-area: b5;
 }

.b6 { 
	grid-area: b6; 
}

.b7 { 
	grid-area: b7;
 }

.b8 { 
	grid-area: b8; 
}



/* SECTION:  PASTRIES */

.pastry_description {
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 50px;
	line-height: 30px;
	font-size: 20px;
}

.grid_pastries {  
	width: 80%;
	margin: auto;
	display: grid;
  	grid-template-columns: 1fr 1fr;
 	grid-template-rows: 1fr 1fr 1fr 1fr;
 	grid-auto-flow: row;
 	grid-column-gap: 10px;
 	grid-row-gap: 50px;
 	margin-top: 100px;
	margin-bottom: 100px;
  margin-left: 260px;
  margin-right: 180px;
  	grid-template-areas:
    "p1 p2"
    "p3 p4"
    "p5 p6"
    "p7 p8";
}

.grid_pastries img {
	background-color: black;
	border: 3px solid #2b262d;
}

.p1 { 
	grid-area: p1;
}

.p2 { 
	grid-area: p2; 
}

.p3 { 
	grid-area: p3;
}

.p4 { 
	grid-area: p4;
}

.p5 {
	 grid-area: p5;
 }

.p6 { 
	grid-area: p6; 
}

.p7 { 
	grid-area: p7;
 }

.p8 { 
	grid-area: p8; 
}


/* SECTION: SANDWICHES */

.sandwich_description {
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 50px;
	line-height: 30px;
	font-size: 20px;
}

.grid_sandwiches {  
	width: 80%;
	margin: auto;
	display: grid;
  	grid-template-columns: 1fr 1fr;
 	grid-template-rows: 1fr 1fr 1fr 1fr;
 	grid-auto-flow: row;
 	grid-column-gap: 10px;
 	grid-row-gap: 50px;
 	margin-top: 100px;
	margin-bottom: 100px;
  margin-left: 260px;
  margin-right: 180px;
  	grid-template-areas:
    "s1 s2"
    "s3 s4"
    "s5 s6"
    "s7 s8";
}

.grid_sandwiches img {
	background-color: black;
	border: 3px solid #2b262d;
}

.s1 { 
	grid-area: s1;
}

.s2 { 
	grid-area: s2; 
}

.s3 { 
	grid-area: s3;
}

.s4 { 
	grid-area: s4;
}

.s5 {
	 grid-area: s5;
 }

.s6 { 
	grid-area: s6; 
}

.s7 { 
	grid-area: s7;
 }

.s8 { 
	grid-area: s8; 
}



/* SECTION: COOKIES */

.cookie_description {
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 50px;
	line-height: 30px;
	font-size: 20px;
}

.grid_cookies {  
	width: 80%;
	margin: auto;
	display: grid;
  	grid-template-columns: 1fr 1fr;
 	grid-template-rows: 1fr 1fr 1fr 1fr;
 	grid-auto-flow: row;
 	grid-column-gap: 10px;
 	grid-row-gap: 50px;
 	margin-top: 100px;
	margin-bottom: 100px;
  margin-left: 260px;
  margin-right: 180px;
  	grid-template-areas:
    "c1 c2"
    "c3 c4"
    "c5 c6"
    "c7 c8";
}

.grid_cookies img {
	background-color: black;
	border: 3px solid #2b262d;
}

.c1 { 
	grid-area: c1;
}

.c2 { 
	grid-area: c2; 
}

.c3 { 
	grid-area: c3;
}

.c4 { 
	grid-area: c4;
}

.c5 {
	 grid-area: c5;
 }

.c6 { 
	grid-area: c6; 
}

.c7 { 
	grid-area: c7;
 }

.c8 { 
	grid-area: c8; 
}


/* MEDIA QUERIES */

/* MOBILE */

@media only screen and (min-width: 480px) and (max-width: 989px) {

.nav_sections {
	width: 80%;
	height: 50%;
	margin-right: 0%;
}


.nav_sections a {
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}
 .title1 {
 	width: 30%;
 }

 .nav_sections .title1 img {
  width: 100%;
  height: 100%;
  align-items: flex-end;
}

.nav_bar {
  width: 100%;
  margin-right: 0%;
  justify-content: space-evenly;
}

.nav_sections .nav_bar ul {
  width: 100%;
  margin-left: 0%;
  margin-bottom: 0%;
}

.main {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.content p {
	width: 100%;
	line-height: 30px;
	font-size: 17px;
	margin-right: 20%;
	text-align: center;
}


.container {
	width: 80%;
	flex-direction: column;
	margin-right: 20%;
	margin-left: 20%;
}

.container_apps {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
}

.bg {
	width: 100%;
}

.container_apps2 {
  margin-left: 0%;
}

.icons {
	display: flex;
	width: 80%;
	margin-left: 10%;
	justify-content: space-evenly;
}

	.story h1 {
	margin-top: 70px;
	margin-left: 180px;	
}

.text_story {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 80px;
} 

.text_story .story {
	margin-left: 20px;
	width: 90%;
	line-height: 30px;
	text-align: center;
	margin-right:10px;

}

.text_story .p_img img {
	width: 90%;
	margin-left: 3%;
}

.chef {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	margin-left: 20px;
}

.chef .chef_img img {
	width: 90%;
	margin-top: 0px;
	margin-left: 6%;
	margin-right: 10px;
}

.chef .chef_story {
	margin-left: 30px;
	margin-top: 20px;
	width: 90%;
	text-align: center;
	line-height: 30px;
	margin-right:10px;
}

.title_menu h1 {
	margin-left: 170px;
	margin-bottom: 20px;
}

.menu {
	display: inline-block;
	width: 80%;
	text-align: center;
}

.sub_title h2,
.sub_title1 h2 {
	margin-left: 10px;
}

.menu_column1,
.menu_column2 {
	width: 80%;
	margin-top: 5px;
  margin-left: 80px;
}

.menu_column2 .sub_title h2 {
	margin-top: 180px;
}

.video  {
	margin-left:25px;
	margin-top: 30px;
	width: 90%;
	overflow:hidden;
 /* padding-bottom:200px; */
  position:relative;
  height:0;
}
.video iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.title_order h1 {
	margin-left: 12%;
	margin-right: 10%;
}

.text_ap .text1 {
	margin-left: 12%;
	margin-right: 10%;
}

.orderflex {
	display: block;
}

.orderflex1 h2 {
	margin-top: 30px;
	margin-left: 0%;
}
.orderflex1 {
	margin-left: 12%;
	width: 80%;
}
.orderflex2 {
	margin-left: 12%;
	width: 85%;
}

.orderflex1 .deli h2 {
	margin-left: 0px;
	margin-top: 15px;
}

.orderflex2 .da h2 {
	margin-top: 15px;
}

.orderflex2 h2 {
	margin-top: 60px;
}

.container_2 .mb-4 {
	margin-left: 0px;
	margin-top: 20px;
}

.title_location h1 {
	margin-left: 50px;
	margin-top: 30px;
}

.text_location {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 20px;
	margin-right: 10px;
	width: 90%;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
}

.text_location .location {
	margin-left: 30px;
	margin-right: 10px;
}

.text_location .map {
	width: 100%;
	margin-left: 10%;
	margin-top: 10px;
}

.title_contact h1 {
	margin-left: 15%;
	margin-right: 20px;
	margin-top: 20px;
}

.text_contact {
	margin-left: 15%;
	margin-right: 20px;
	font-size: 20px;
}

.form .send {
	width: 40%;
}

.back a {
	display: inline-block;
	margin-left: 30px;
	margin-top: 40px;
	color: #2b262d;
}

.bread_description {
	margin-left: 30px;
	margin-right: 30px;
}

.grid_breads {  
	width: 80%;
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-left: 100px;
}

.b8 {
	margin-bottom: 40px;
}

.pastry_description {
	margin-left: 30px;
	margin-right: 30px;
}

.grid_pastries {  
	width: 80%;
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-left: 100px;
}

.p8 {
	margin-bottom: 40px;
}


.cookie_description  {
	margin-left: 30px;
	margin-right: 30px;
}

.grid_cookies {  
	width: 80%;
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-left: 100px;
}

.c8 {
	margin-bottom: 40px;
}

.sandwich_description  {
	margin-left: 30px;
	margin-right: 30px;
}

.grid_sandwiches {  
	width: 80%;
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-left: 100px;
}

.s8 {
	margin-bottom: 40px;
}

.back a {
	margin-bottom: 10px;
}

.bread_description {
	margin-left: 12%;
	margin-right: 10%;
	margin-top: 10px;
	margin-bottom: 30px;
}

.cookie_description {
	margin-left: 12%;
	margin-right: 10%;
	margin-top: 10px;
	margin-bottom: 30px;
}

.pastry_description {
	margin-left: 12%;
	margin-right: 10%;
	margin-top: 10px;
	margin-bottom: 30px;
}

.sandwich_description {
	margin-left: 12%;
	margin-right: 10%;
	margin-top: 10px;
	margin-bottom: 30px;
}



}


/* TABLET */

@media only screen and (min-width: 990px) and (max-width: 1199px) {

.nav_sections {
  width: 80%;
  height: 80px;
  margin-right: 10%;
  margin-left: 10%;
  }

.nav_sections .title1 img {
	width: 100%;
	height: 100%;
}

.nav_bar {
  width: 100%;
}

.main {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.main .img img {
	 width: 100%;
}

.content {
	width: 100%;
}

.home_title {
  width: 80%;
  margin-left: 10%;
}

.home_title h1 {
	margin-left: 0%;
}

.container {
  width: 80%;
  flex-direction: row;
  /*column-gap: 10%;*/
   /*justify-content: space-evenly;*/
  /*row-gap: 20px;*/
  margin-left: 10%;
  margin-right: 10%;

}

.container1,
.container3 {
	margin-left: 10%;
}


 .story h1 {
	margin-top: 30px;
}

 .text_story .story {
 	width: 45%;
 	margin-left: 60px;
 	margin-right: 3%;
 }

 .text_story .p_img img {
	width: 80%;
	margin-right: 10px;
}

.chef {
	margin-left: 3%;

}

.chef .chef_img img {
	width: 90%;
	height: 600px;
	margin-left: 10%;
	margin-right: 0px;
}

.chef .chef_story {
  width: 40%;
  margin-right:1%;
  margin-top: 20px;
  margin-left: 3%;
}

.story h1 {
	text-align: inherit;
}

.title_menu h1 {
	margin-left: 0px;
	text-align: center;
}

.menu_column1,
.menu_column2 {
   text-align: center;
}

.video {
	margin-left: 140px;
}

.title_order h1 {
	margin-top: 50px;
	margin-left: 100px;	
}

.text1 {
	margin-left: 100px;
	margin-right: 60px;
}

.orderflex1 {
  margin-left: 130px;
}

.orderflex2 {
	margin-left: 0px;
}

.title_location h1 {
	margin-left: 120px;
}

.text_location .location  {
  margin-left: 12%;
  margin-right: 10%;
}

.location p {
  line-height: 40px;
}

.text_location .map {
	margin-left: 130px;
}

.title_contact h1,
.text_contact  {
	margin-left: 120px;
}

.grid_breads {  
  margin-left: 170px;
  margin-top: 50px;
}

.grid_pastries {  
  margin-left: 170px;
  margin-top: 50px;
}

.grid_sandwiches {  
  margin-left: 170px;
  margin-top: 50px;
}

.grid_cookies {  
  margin-left: 170px;
  margin-top: 50px;
}


}




/* DESKTOP */

@media only screen and (min-width: 1200px) and (max-width: 1600px) {



}